/* Buttons used in the Hero section */

.heroButton {
    background-color: #A8C761;
    border: none;
    color: #FFFFFF;
    padding: 8px 32px;
}
.heroButton:hover {
    background-color: #7E9549;
}
.filterButtons {
    padding: 8px 16px;
    background-color: #FAFAFA;
    color: #000000;
    border: none;
    border-radius: 0px;
}
.filterButtons:hover {
    background-color: #A8C761;  
}
.filterButtons1 {
    padding: 8px 16px;
    background-color: #F2FAE1;
    color: #000000;
    border: none;
    border-bottom: 1px solid #7E9549;
    border-radius: 0px;
}
.filterButtons1:hover {
    background-color: #A8C761;  
}

.productCardButton {
    padding: 8px 16px;
    background-color: #000000;
    color: #FFFFFF;
    border: none;
    border-radius: 0px;
    font-size: 12px;
    position: absolute;
    right: 0px;
    top: 8px;
}
.productCardButton1 {
    padding: 8px 16px;
    background-color: #7E9549;
    color: #FFFFFF;
    border: none;
    border-radius: 0px;
    font-size: 12px;
    position: absolute;
    right: 0px;
    top: 8px;
}
.productCardButton:hover {
    background-color: #A8C761;
}
.promoButton {
    background-color: #333333; 
    border: none;
    height: 44px;
    border-radius: none;
}
.checkoutButton {
    background-color: #7E9549;
    width: 100%;
    border: none;
}
.checkoutButton:hover {
    background-color: #7E9549;
}
@media only screen and (max-width: 768px) {
    .filterButtons {
        padding: 8px 16px;
        background-color: #F2FAE1;
        color: #000000;
        border: none;
    }
  }