/* Styling CartPage Modal component */
#cartModal {
    padding: 32px;
    display: flex;
    justify-content: center;
    gap: 16px;
  }
  .yourBag {
    width: auto;
  }
  .yourBagTitle {
    
    gap: 30px;
  }
  .cartOrderItem {
    display: flex;
    /* justify-content: space-between; */
    gap: 24px;
  }
  .cartItem1 {
    background-color: red;
  }
  
  .cartOrderSummary {
    background-color: white;
    padding: 32px;
  }
  .orderDescription {
   display: flex;
   justify-content: space-between;
   gap: 80px;
  }
  .deliveryOffer {
    display: flex;
    gap: 24px;
    padding: 40px 44px;
  }

  /* .orderDescriptionContainer {
    display: flex;
  } */
  .orderName {
    margin-bottom: 32px;
  }
  .orderQuantity {
    padding: 8px;
    width: 91px;
    border: 1px solid #999999;
  }
  .orderAmount {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  }
  .orderTrash {
    padding: 8px 0px 0px 0px;
    color: #999999;
  }
  .youMayNeed {
    display: flex;
    gap: 16px;
    overflow-y: auto;
  }
  .suggestion1 {
    display: flex;
    /* flex: 1; */
    padding-right: 16px;
    justify-content: space-between;
    border: 1px solid #999999;
    /* overflow: hidden; */
    width: 600px;
  }
  /* .amountToPay {
    background-color: red;
  } */
  @media only screen and (max-width: 768px) {
    #cartModal {
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 24px;
      width: auto;
    }
    .cartOrderItem img {
      width: 132px;
      height: 160;
    }
}