/* Styling for the hero section */

.heroSection img {
    background-image: url('/HeroImage-mobile.png');
  }
.heroSection {
    position: relative;
}
/* .heroSection img {
    width: 100%;
    height: 409px;
    overflow: hidden;
    object-position: 50% 0;
} */
.heroImage {
    width: 100%;
    height: 409px;
    overflow: hidden;
    clip: rect(200px, 0px)
    /* object-position: 0% 50%; */
}
.heroTagline {
    position: absolute;
    bottom: 40px;
    padding: 0px 246px;
    color: #FFFFFF;
    text-align: center;
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 40px;
}
@media only screen and (max-width: 768px) {
    .heroSection {
        position: relative;
    }
    .heroSection img {
        /* width: auto;
        height: auto;
        object-fit: cover;
        align-items: center;
        display: block; */
        width: 375;
        height: 480px;
        background-image: url('/public/HeroImage-large.png');
    }
    
    /* .heroSection img {
        width: auto;
        height: 480px;
    } */
    .heroTagline {
        position: absolute;
        bottom: 40px;
        padding: 40px;
        color: #FFFFFF;
        /* text-align: center; */
        font-family: "Jost", sans-serif;
        font-weight: 400;
        font-size: 40px;
    }
}