/* Styling for the hero section */
.heroSection {
    position: relative;
}
.heroSection img {
    width: 100%;
    /* height: 409px;
    overflow: hidden; */
}
.heroTagline {
    position: absolute;
    bottom: 40px;
    padding: 0px 246px;
    color: #FFFFFF;
    text-align: center;
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 40px;
}
@media only screen and (max-width: 768px) {
    .heroSection {
        position: relative;
    }
    .heroSection img {
        width: auto;
        height: auto;
        object-fit: cover;
        display: block;
    }
    /* .heroSection img {
        width: auto;
        height: 480px;
    } */
    .heroTagline {
        position: absolute;
        bottom: 40px;
        padding: 40px;
        color: #FFFFFF;
        /* text-align: center; */
        font-family: "Jost", sans-serif;
        font-weight: 400;
        font-size: 40px;
    }
}