/* Styling for the JewelleryCard component */
.jewelleryCards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    padding: 40px 124px 80px 124px;
    overflow: hidden;
  }
  /* .jewelleryCards {
    
    gap: 16px;
    padding: 40px 124px 80px 124px;
    overflow: hidden;
    background-color: rgb(245, 143, 143);
  } */

.productCard {
    position: relative;
}
.productCard img {
    margin-bottom: 8px;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease;
  }
.productCard img:hover {
    filter: brightness(0.5);
}
.bi-heart {
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 24px;
}
.bi-heart:hover {
    color: black;
}
.productDescription {
    position: relative;
}
.productDescription p {
    font-size: 14px;
}
.productDescription h5 {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 18px;
    line-height: 1;
    margin: 8px 0px;
    padding: 0px;
}
@media only screen and (max-width: 768px) {
    .jewelleryCards {
        display: flex;
        justify-content: center;
        align-items: center;
        /* flex-wrap: wrap; */
        gap: 24px;
        padding: 40px;
        overflow: hidden;
        /* background-color: rgb(245, 143, 143); */
    } 
    .productDescription {
        position: relative;
        display: flex;
        flex-direction: column;
    }
}