/* Styling for the Navigation bar component */
  #navigationBar {
    display: flex;
    justify-content: center;
    padding: 16px 124px;
    width: 100%;
    overflow: hidden;
  }
  #logo {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    font-size: 32px;
  }
  .me-auto {
    margin-left: 80px;
  }
  .nav-link {
    display: inline-flex;
    justify-content: center;
    font-weight: 500;
    
    /* align-items: center; */
    /* gap: 16px; */
  }
  #categories:hover {
    color: #7E9549;
  }

  .nav-link:hover {
    color: #7E9549; /* Color change on hover */
    text-decoration: underline; /* Underline on hover */
  }
  /* Styling for search dropdown feature */
  .searchDropdown {
    /* background-color: #D7D7D7; */
    height: 452px;
    width: 100%;
    position: relative;
    
  }
  .bi-x-lg {
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
  }
  .search {
    padding: 56px 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .searchInput {
    padding: 12px 16px;
    width: 100%;
    height: 64px;
    color: #999999;
    border: none;
    border-bottom: 1px solid #999999;
    margin-bottom: 4px;
  }
  .searchLinks a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #000000;
  }
  /* Styling for the part with icons on the Navigation */
  .navigation {
    display: flex;
    justify-content: flex-end;
    gap: 24px;
    font-size: 16px;
  }
  .navHelp {
    display: inline-flex;
    gap: 4px;
  }
  .helpNumber {
    display: flex;
    flex-direction: column;
  }
  .navigationFlag {
    display: inline-flex;
    align-items: center;
    gap: 4px;
  }
  .navigationSignup {
    display: inline-flex;
    align-items: center;
    gap: 4px;
  }
  .cartItemCount {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 0.25em 0.5em;
    font-size: 0.75rem;
    /* position: absolute;
    top: -10px;
    right: -10px; */
  }
  /* .modal {
    width: 100%;
  } */
  @media only screen and (max-width: 768px) {
    #navigationBar {
      padding: 40px 8px;
      position: relative;
    }
    #logo {
      font-size: 24px;
      position: absolute;
      left: 82px;
      top: 10px; 
    }
    .navbar-toggler {
      position: absolute;
      left: 10px; 
      top: 10px; 
    }
    .navigation {
      gap: 16px;
      position: absolute;
      right: 10px; 
      top: 12px; 
    }
    .navigationSignup {
      display: none;
    }
    .me-auto {
      margin-left: 40px;
    }
    /* .categories {
      display: none;
    } */
  }