/* Styling for the Navigation bar component */
#navigationBar {
    padding: 16px 124px;
  }
  #logo {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    font-size: 32px;
  }
  .searchInput {
    padding: 12px;
    border-radius: 40px;
    width: 308px;
    /* position: relative; */
  }
  .bi-search {
    position: absolute; 
    left: 10px;
    top: 50%;
    background-color: red;
  }
  /* Styling for the part with icons on the Navigation */
  .navigation {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    font-size: 16px;
  }
  .navHelp {
    display: inline-flex;
    gap: 4px;
  }
  .helpNumber {
    display: flex;
    flex-direction: column;
  }
  .navigationFlag {
    display: inline-flex;
    align-items: center;
    gap: 4px;
  }
  .navigationSignup {
    display: inline-flex;
    align-items: center;
    gap: 4px;
  }
  /* Styling for the Navigation Categories component */
  .categories{
    display: flex;
    justify-content: space-between;
    padding: 26px 222px;
  }
  .breadcrumbs {
    padding: 40px 124px;
  }
  .heroTagline {
    padding: 0px 124px;
  }
  .filter {
    padding: 32px 124px;
  }