/* Styling for the Navigation bar component */
  #navigationBar {
    display: flex;
    justify-content: center;
    padding: 16px 124px;
  }
  #logo {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    font-size: 32px;
  }
  .categories {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }
  .categories a {
    text-decoration: none;
    color: #000000;
  }
  a:hover {
    color: #7E9549;
  }

  /* Styling for the part with icons on the Navigation */
  .navigation {
    display: flex;
    justify-content: flex-end;
    gap: 24px;
    font-size: 16px;
  }
  .navHelp {
    display: inline-flex;
    gap: 4px;
  }
  .helpNumber {
    display: flex;
    flex-direction: column;
  }
  .navigationFlag {
    display: inline-flex;
    align-items: center;
    gap: 4px;
  }
  .navigationSignup {
    display: inline-flex;
    align-items: center;
    gap: 4px;
  }
  @media only screen and (max-width: 768px) {
    #logo {
      display: none;
    }

  }